			<div class="card col-12 col-md-4 col-lg-4">
				<div class="card-wrapper">
					<div class="card-img">
						<a href="subject.html" ><img src="gallery/img/subject/1.jpg" alt="subject" media-simple="true"></a>
					</div>
					<div class="card-box">
						<a href="subject.html"> 
							<h4 class="card-title pb-3 mbr-fonts-style display-7"> 
								articletitle  
							</h4>
						</a>   
						<p class="mbr-text mbr-fonts-style display-7">                                         
							articleshortbody
						</p>
						<p class="card-text">
							<small class="text-muted">Опубліковано publishtime</small>
						</p>
					</div>
				</div>
			</div>
